In [1]:
import matplotlib.pyplot as plt
from scipy import stats
import pandas as pd
import seaborn as sns

In [2]:
med_cost=pd.read_csv("medical_cost.csv")
med_cost.head()

   Id  age     sex     bmi  children smoker     region      charges
0   1   19  female  27.900         0    yes  southwest  16884.92400
1   2   18    male  33.770         1     no  southeast   1725.55230
2   3   28    male  33.000         3     no  southeast   4449.46200
3   4   33    male  22.705         0     no  northwest  21984.47061
4   5   32    male  28.880         0     no  northwest   3866.85520

## Sex and Age Affect on Medical Cost

In [3]:
bins=[0,25,31,41,51,61,999]
bin_labels=["18-24", "25-30" ,"31-40", "41-50", "51-60", "61 and above"]
med_cost["Age Range"]=pd.cut(med_cost['age'],bins, labels = bin_labels, include_lowest=True)
med_cost.head()

   Id  age     sex     bmi  children smoker     region      charges Age Range
0   1   19  female  27.900         0    yes  southwest  16884.92400     18-24
1   2   18    male  33.770         1     no  southeast   1725.55230     18-24
2   3   28    male  33.000         3     no  southeast   4449.46200     25-30
3   4   33    male  22.705         0     no  northwest  21984.47061     31-40
4   5   32    male  28.880         0     no  northwest   3866.85520     31-40